.faq{
    display: block;
    max-width: 600px;
    margin: 20px auto;
}
.faq-item {
    margin-bottom: 15px;
}
.faq-tra-loi {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #292929;
    border-left: 4px solid #77aac0;
    border-radius: 4px;
    max-height: 500px
}
.faq-cau-hoi {
    display: flex;
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between;
    background-color: #77aac0;
    border: 2px solid #292929;
    
}

.faq-cau-hoi:hover {
    background-color: #9fd3ec; 
    cursor: pointer;
}

.faq-cau-hoi:hover .faq-icon {
    display: inline-block;
    transform: rotate(180deg);
    cursor: pointer;
}
